<!DOCTYPE html>
<html lang="zh-cn">
<meta charset="UTF-8"/>
<link rel="shortcut icon" href="../../static/logo.jpg"/>
<link rel="stylesheet" type="text/css" href="../../static/location.css"/>
<script type="text/javascript" src="../../static/logic.js"></script>
<form>
<div id="text">条件输入：</div>
<div id="submit">
<textarea id="input" class="inputStyle"> </textarea>
<div>
<button type="button" class="btnStyle" onclick="showCustomer()">submit</button>
</div>
</div>
</form>
<div>
<p>
<h5 id="status">***Status***</h5>
</p>
<p>
<h5 id="result">***Result***</h5>
</p>
</div>
</div>
</body>
</html>